<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="studentManagerDB" connectionString="Server=whyfi8888.ddns.net;Port=13307;Uid=gudi01;Pwd=gudi01$$;Database=gudi01"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="email" value="jihunmail220@gmail.com"/>
		<add key="emailPw" value="wlgns12!"/>
	</appSettings>
</configuration>